body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8d6b5;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #140541;
    width: 20%;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 2rem;
    font-weight:bolder;
    margin-bottom: 20px;
    color: #e8f0f4;
    background-color: #166e9a;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f6f3f3;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #d7db7e;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.book-details {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.book-cover img {
    width: 150px;
    height: 220px;
    border-radius: 10px;
}

.book-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-info h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.book-info p {
    margin: 5px 0;
    color: #666;
}

.book-info button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-info button:hover {
    background-color: #45a049;
}
